@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
  &:where([data-theme="device"] *) {
    @media (prefers-color-scheme: dark) {
      @slot;
    }
  }
}

.expressive-code {
  max-width: 100%;
}
.go-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.7rem 1rem;
    background: #000;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
.go-to-top.visible {
    opacity: 0.9;
    pointer-events: auto;
  }