---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="links flex flex-row flex-wrap justify-center gap-x-8 gap-y-4">
  {
    authors.map((author) => (
      <div class="flex flex-col items-center text-center">
        <div class="flex flex-row text-xl">
          {author.url ? (
            <a 
              href={author.url} 
              target="_blank"
              class="relative font-medium
                     after:absolute after:-bottom-1 after:left-0
                     after:h-[2px] after:w-full after:scale-x-0
                     after:bg-gradient-to-r after:from-indigo-500 after:to-violet-600
                     after:transition-transform after:duration-300
                     hover:after:scale-x-100"
            >
          {author.name}
          </a>
          ) : (
            author.name
          )}
          {author.notes && (
            <sup class="text-xl">
              {author.notes.map(
                (note, index, array) =>
                  note + (index < array.length - 1 ? "," : ""),
              )}
            </sup>
          )}
        </div>
        {author.institution && <div>{author.institution}</div>}
      </div>
    ))
  }
</div>
